@import "tailwindcss";
@import "primeicons/primeicons.css";

.login-page {
  @apply min-h-screen flex items-center justify-center p-4;

  background-image: url(/login-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-page {
  @apply min-h-screen flex flex-col items-center justify-start p-4;

  background: linear-gradient(180deg, #76d2fa 24%, #cfebf7 39%);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@layer components {
  .custom-paginator {
    @apply flex items-center justify-center gap-[clamp(5px,1vw,14px)] py-3;
  }

  .custom-paginator [data-pc-section="pagebutton"] {
    @apply min-w-10 h-10
           inline-flex items-center justify-center
           bg-[#F7EBD5]
           rounded-[15px]
           text-[clamp(12px,2vw,22px)]
           cursor-pointer
           transition
           hover:bg-[#EED7A6];
  }

  .custom-paginator [data-pc-section="firstpagebutton"],
  .custom-paginator [data-pc-section="prevpagebutton"],
  .custom-paginator [data-pc-section="nextpagebutton"],
  .custom-paginator [data-pc-section="lastpagebutton"] {
    @apply min-w-[clamp(20px,4vw,40px)] h-[clamp(20px,4vw,40px)]
           flex items-center justify-center
           bg-[#F7EBD5]
           rounded-[15px]
           cursor-pointer
           transition
           hover:bg-[#EED7A6];
  }
}
